 body {
    background-color: #f3e5d8;
    font-family: Arial, sans-serif;
    color: #5f564d;
    padding: 20px;
}

.contenedor {
    background-color: white;
    max-width: 700px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 15px;
}

.imagen-omelette {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}


h1 {
    color: #302d2c;
    font-size: 36px;
    margin-bottom: 15px;
}

h2 {
    color: #854632;
    font-size: 28px;
    margin-bottom: 15px;
}

h3 {
    color: #7b284f;
    font-size: 20px;
    margin-bottom: 10px;
}


.descripcion {
    margin-bottom: 25px;
    line-height: 1.5;
}


.tiempo-preparacion {
    background-color: #fff7fc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.tiempo-preparacion ul {
    padding-left: 20px;
}

.tiempo-preparacion li {
    margin-bottom: 8px;
    padding-left: 10px;
}


.ingredientes, .instrucciones, .nutricion {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e3ddd7;
}

.ingredientes:last-child, .instrucciones:last-child, .nutricion:last-child {
    border-bottom: none;
}

.ingredientes ul, .instrucciones ol {
    padding-left: 20px;
}

.ingredientes li, .instrucciones li {
    margin-bottom: 10px;
    padding-left: 15px;
    line-height: 1.5;
}


.nutricion p {
    margin-bottom: 15px;
}

table {
    width: 100%;
}

tr {
    border-bottom: 1px solid #e3ddd7;
}

td {
    padding: 12px 20px;
}

.valor {
    color: #854632;
    font-weight: bold;
}


@media (max-width: 600px) {
    body {
        padding: 0;
        background-color: white;
    }
    
    .contenedor {
        border-radius: 0;
        padding: 20px;
    }
    
    .imagen-omelette {
        border-radius: 0;
    }
}